<div class="control-triger">    
    <div class="control-name">direction</div>
    <input type="number" min="0" max="360"/>
</div>

<div class="control-triger">
    <div class="control-name">auto-size</div>
    <input type="checkbox"/>
</div>

<div class="control-triger">
    <div class="control-name">width</div>

    <input min="2" type="number"/>
</div>
<div class="control-triger">
    <div class="control-name">height</div>

    <input min="2" type="number"/>
</div>

<div class="control-triger">    
    <div class="control-name">vertical shift(px)</div>
    <input type="number"/>
</div>

<div class="control-triger">
    <div class="control-name">horizontal shift(px)</div>
    <input type="number"/>
</div>
<button class="control-button">add line</button>
