@import '../../css/variables';

:host {
    grid-area: 6 / 3 / 7 / 5;

    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $gold;

    img {
        height: 60px;
        width: auto;
    }
}