@import '../../../css/mixins';
@import '../../../css/variables';

:host {

    >form {

        width: 100%;
        height: 100%;

        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        margin-bottom: 10px;
        
        @include card-scheme($outer_space, 5%);
        color: adjust-color($outer-space, $lightness: +45%);
        
    }
    
}