@import '../../../css/mixins';
@import '../../../css/variables';

:host {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 10px;
    
    @include card-scheme($outer_space, 5%);
    color: adjust-color($outer-space, $lightness: +45%);
    
    padding: 5px;
}