<div class="control-triger">
    <div class="control-name">background</div>
    <input 
        [ngModel]="backgroundColor"
        (ngModelChange)="backgroundColor = $event; changeBackgroundColor()"
        type="color"
        />
</div>
<div class="control-triger">
    <div class="control-name">width(px)</div>

    <input min="2" type="number"/>
</div>
<div class="control-triger">
    <div class="control-name">height(px)</div>

    <input min="2" type="number"/>
</div>
<div class="control-triger">
    <div class="control-name">grid</div>

    <input type="checkbox"/>
</div>
<div class="control-triger">
    <div class="control-name">repeat</div>

    <input type="checkbox"/>
</div>
<div class="control-triger">
    <div class="control-name">position</div>
    <select type="text" list="types">
        <option value="%">%</option>
        <option value="px">px</option>
    </select>
</div>
<div class="control-triger">
    <div class="control-name">zoom</div>

    <input type="range"  min="0.5" max="2.5" step="0.05" />
</div>
