<div class="card">
    <ng-container *ngrxLet="properties$ as layerWithStops">
        <ng-container *ngIf="layerWithStops">
            <app-layer 
                [layer]="layerWithStops.layer" 
                (layerChange)="updateLayer($event)" 
                (add)="addColorStop(layerWithStops.gradient)">
            </app-layer>
            <app-color-stop 
                *ngFor="let colorStops of layerWithStops.gradient.stops; index as i; trackBy:trackById" 
                [colorStop]="colorStops"
                (colorStopChange)="updateColorStop(layerWithStops.gradient, i, $event)"
                (delete)="deleteColorStop(layerWithStops.gradient, i)">
            </app-color-stop>
        </ng-container>
    </ng-container>
</div>

<!-- (direction)="setDirection($event, name)"
            (shape)="setShape($event)"
            (autoSize)="setAutoSize($event)"
            (width)="setWidth($event)"
            (height)="setHeight($event)"
            (size)="setSize($event)"
            (posx)="setPosX($event)"
            (posy)="setPosY($event)"
            (vertical)="setVertical($event)"
            (horizontal)="setHorizontal($event)" -->