<div class="card">
    <ng-container *ngIf="list$ | async as list" [ngSwitch]="list.selected.type">
        <ng-container *ngSwitchCase="Type.Linear">
            <app-linear [linear]="list.linear" [index]="list.selected.index"></app-linear>
            <app-line *ngFor="let line of list.linear.lines; index as i" [line]="line" [linearIndex]="list.selected.index" [lineIndex]="i"></app-line>
        </ng-container>
        <ng-container *ngSwitchCase="Type.Radial">
            <app-radial [radial]="list.radial" [index]="list.selected.index"></app-radial>
            <app-radius *ngFor="let radius of list.radial.rays; index as i" [radius]="radius" [radialIndex]="list.selected.index" [radiusIndex]="i"></app-radius>
        </ng-container>
    </ng-container>
</div>

<!-- TU TRZEBA COŚ WYMYŚLIĆ ŻEBY SIĘ NIE PRZERENDEROWYWAŁY LINES I RAYS W KÓŁKo-->