@import '../../css/mixins';
@import '../../css/variables';

:host {
    grid-area: 4 / 3 / 6 / 4;

    .card
    {
        overflow-y: auto;

        .control-module
        {
            grid-area: moduleA;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;

            @include card-scheme($outer_space, 5%);
            color: adjust-color($outer-space, $lightness: +45%);
            
            padding: 5px;

        }
    }

    ::ng-deep form{

        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        
    }
}