<div class="control-triger">
    <div class="control-name">shape</div>
    <select  type="text" list="types">
        <option value="ellipse ">ellipse</option>
        <option value="circle">circle</option>
    </select>
</div>

<div class="control-triger">
    <div class="control-name">auto-size</div>
    <input type="checkbox"/>
</div>

<div class="control-triger">
    <div class="control-name">width</div>

    <input min="2" type="number"/>
</div>
<div class="control-triger">
    <div class="control-name">height</div>

    <input min="2" type="number"/>
</div>
                         
<div class="control-triger">
    <div class="control-name">size</div>
        <select  type="text" list="types">
            <option value="farthest-corner">farthest corner</option>
            <option value="closest-side">closest side</option>
            <option value="closest-corner">closest corner</option>
            <option value="farthest-side">farthest side</option>
        </select>
    </div>
                         
<div class="control-triger">    
    <div class="control-name">pos x</div>
    <input type="number"/>
</div>
        
<div class="control-triger">    
    <div class="control-name">pos y</div>
    <input type="number"/>
</div>
                         
<div class="control-triger">    
    <div class="control-name">vertical shift(px)</div>
    <input type="number"/>
</div>

<div class="control-triger">
    <div class="control-name">horizontal shift(px)</div>
    <input type="number"/>
</div>
    <button class="control-button">add radius</button>
