<form [formGroup]="form">
    <div class="control-triger">
        <div class="control-name">shape</div>
        <select  type="text" list="types" formControlName="shape">
            <option [value]="Shape.Ellipse">ellipse</option>
            <option [value]="Shape.Circle">circle</option>
        </select>
    </div>

    <div class="control-triger">
        <div class="control-name">auto-size</div>
        <input type="checkbox" formControlName="autoSize"/>
    </div>

    <div class="control-triger">
        <div class="control-name">width</div>
        <input type="number" formControlName="width"/>
    </div>

    <div class="control-triger">
        <div class="control-name">height</div>
        <input type="number" formControlName="height"/>
    </div>
                            
    <div class="control-triger">
        <div class="control-name">size</div>
        <select  type="text" list="types" formControlName="size">
            <option [value]="Size.FarthestCorner">farthest corner</option>
            <option [value]="Size.ClosestSide">closest side</option>
            <option [value]="Size.ClosestCorner">closest corner</option>
            <option [value]="Size.FarthestSide">farthest side</option>
        </select>
        </div>
                            
    <div class="control-triger">    
        <div class="control-name">pos x</div>
        <input type="number" formControlName="posx"/>
    </div>
            
    <div class="control-triger">
        <div class="control-name">pos y</div>
        <input type="number" formControlName="posy"/>
    </div>
                            
    <div class="control-triger">
        <div class="control-name">vertical shift(px)</div>
        <input type="number" formControlName="vertical"/>
    </div>

    <div class="control-triger">
        <div class="control-name">horizontal shift(px)</div>
        <input type="number" formControlName="horizontal"/>
    </div>

    <button type="button" class="control-button" (click)="addRadius()">add radius</button>
</form>