@import '../../css/mixins';
@import '../../css/variables';

:host {
    grid-area: 4 / 4 / 6 / 5;

    padding-right: 8px;

    .card
    {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;  
        box-sizing: border-box;

        overflow-y: auto;
        
        display: flex;
        flex-direction: column;
        padding: 0;

        .list-item
        {
            height: 40px;
            margin: 2px 5px 2px 5px;
            display: grid;
            grid-template-columns: 70% 15% 15%;
            align-items: center;
            color: adjust-color($outer-space, $lightness: +45%);

            button
            {
                border: 0;
                height: auto;
            }

            button:active
            {
                color: adjust-color($outer-space, $lightness: +65%);
                background-color: inherit;
            }

            .text
            {
                text-align: center;
                grid-column: 1 / 2;
                background-color: transparent;
            }

            .eye-icon-active
            {
                width: 15px;
                height: 15px;
                text-align: center;
                grid-column: 2 / 3;
                background-color: transparent;
                background-image: url("../../assets/icons/eye-active.svg");
            }
            .grid-icon-active
            {
                width: 15px;
                height: 15px;
                text-align: center;
                grid-column: 3 / 4;
                background-color: transparent;
                background-image: url("../../assets/icons/grid-active.svg");
            }

            .eye-icon 
            {
                @extend .eye-icon-active;
                background-image: url("../../assets/icons/eye-inactive.svg");
            }
            .grid-icon
            {
                @extend .grid-icon-active;
                background-image: url("../../assets/icons/grid-inactive.svg");
            }

        }
        
        .list-item-inactive
        {
            @extend .list-item;   
            @include card-scheme($outer_space, 5%);
        }

        .list-item-active
        {
            @extend .list-item;
            @include card-scheme(adjust-color($outer-space, $lightness: -10%), -5%);
        }
    }
}