<div class="control-triger">
    <div class="control-name">position</div>
    <input type="number" min="0" />
</div>

<div class="control-triger">
    <div class="control-name">size</div>
    <input type="number" min="1" />
</div>

<div class="control-triger">                                  
    <div class="control-name">color</div>
    <input type="color" />
</div>

<div class="control-triger">                                  
    <div class="control-name">opacity</div>
    <input type="number" min="0" max="100" />
</div>

<div class="control-triger">                                  
    <div class="control-name">blur</div>
    <input type="number" min="0" />
</div>
                                  
<button class="control-button">delete</button>
