<div class="window">
    <form [formGroup]="form">
        <div *ngIf="isSuccess$ | async; else publishBlock">
            <p>Pattern successfully published</p>
            <button type="button" (click)="cancel()">ok</button>
        </div>
        <ng-template #publishBlock>
            <p>
                <label>Name</label>
                <input type="text" formControlName="name">
            </p>
            <p class="warning" *ngFor="let error of errors; index as i">{{error}}</p>
            <button type="submit" (click)="submit()" [disabled]="isLoading$ | async">Publish</button>
            <button type="button" (click)="cancel()" [disabled]="isLoading$ | async">cancel</button>
        </ng-template>
    </form>
    
</div>