/* You can add global styles to this file, and also import other style files */
@import './css/variables';
@import './css/mixins';
@import './css/input.scss';

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'Roboto';
    background-color: $charleston-green;
    margin: 0;
    padding: 0;
}

.area {
    padding: 6px 5px 6px 5px;
}

.card {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    padding: 5px;
    @include card-scheme($card-color, 10%);
}

.pop-up-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.6)
}

.container-window {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.window {
    padding: 20px 50px 20px 50px;
    @include card-scheme($aurometalsaurus, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .warning
    {
        color: red;
        word-wrap: break-word;
        width: 100%;
    }


    input, label {
        display:block;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    button 
    {
        width: 100%;
        max-width: 200px;
    }

 
}