<div class="background" [style.backgroundColor]="backgroundColor$ | async">
    <ng-container *ngIf="previewLinears$ | async as linears">
        <div *ngFor="let linear of linears" [ngStyle]="{
            'background-image': linear.image,
            'background-size': linear.size,
            'background-position': linear.position,
            'visibility': linear.visibility
        }">   
        </div>
    </ng-container>
    <div *ngIf="grid$ | async" class="grid" [style]="gridStyle$ | async"></div>
</div>