<div class="window">
    <form >
        <p>
            <label>name</label>
            <input type="text">
        </p>
        <p>
            <label>email</label>
            <input type="email">
        </p>
        <p>
            <label>homepage</label>
            <input type="text">
        </p>
        <p>
            <label>new password</label>
            <input type="password">
        </p>
        <p>
            <label>repeat new password</label>
            <input type="password">
        </p>
        <p>
            <label>current password</label>
            <input type="password">
        </p>
        <button>Update</button>
        <button>cancel</button>
        </form>
</div>

