
<div class="control-triger">
    <div class="control-name">position</div>
    <input type="number" [ngModel]="colorStop.position" (ngModelChange)="changePosition($event)"/>
</div>

<div class="control-triger">
    <div class="control-name">size</div>
    <input type="number" [ngModel]="colorStop.size" (ngModelChange)="changeSize($event)"/>
</div>

<div class="control-triger">                                  
    <div class="control-name">color</div>
    <input type="color" [ngModel]="colorStop.color" (ngModelChange)="changeColor($event)"/>
</div>

<div class="control-triger">                                  
    <div class="control-name">opacity</div>
    <input type="number" [ngModel]="colorStop.opacity" (ngModelChange)="changeOpacity($event)"/>
</div>

<div class="control-triger">                                  
    <div class="control-name">blur</div>
    <input type="number" [ngModel]="colorStop.blur" (ngModelChange)="changeBlur($event)"/>
</div>
                                
<button class="control-button" type="button" (click)="deleteColorStop()">delete</button>

